:root {
  --background-color: #12141b;
  --header-color: #0e0d12;
  --track-color: #1a1c22;
  --track-color-odd: #20222d;
  --accent-color: #376dff;
  --accent-color-hover: #2e5fd1;
  --border-color: #37394e;
  --text-color: #f3f3f3;
  --text-color-dark: #1f1f1f;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
}

#app {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
